<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Add Person</title>
</head>
<body>
    <div class="container">
        <h1>Add Person</h1>
        <hr>
        <form th:action="@{/employees/save}"
                         th:object="${employee}" method="POST">

<!--            hidden form field to handle the update-->
            <input type="hidden" th:field="*{id}">

            <input type="text" th:field="*{firstName}"
                   class="form-control col-4 mb-2" placeholder="First Name">
            <input type="text" th:field="*{lastName}"
                   class="form-control col-4 mb-2" placeholder="Last Name">
            <input type="text" th:field="*{email}"
                   class="form-control col-4 mb-2" placeholder="Email">

            <button type="submit" class="btn btn-info">Save</button>
        </form>
        <hr>
        <a th:href="@{/employees/list}">Back to list</a>
    </div>
</body>
</html>